 /* fonts */
  @import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');



* {
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
    font-family: Oswald;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    padding: 5px;
    background-color: #FFD966;
    color: #011222;
}
 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #011222;
    width: 450px;
    height: 500px;
    padding: 25px;
}

h1 {
    font-family: Oleo Script;
    font-weight: 700;
    text-align: center;
    padding-bottom: 60px;
    font-size: 40px;
}



label h2 {
    font-weight: 300;
    text-align: center;

}

#course{
    width: 250px;
    height: 45px;
    padding: 5px;
    font-size: 18px;

    outline: none;
    border: 1px solid #011222;
    background-color:#FFD966;
    border-radius: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;

}

#course:focus{
    outline: #011222 solid 1px;
    border-radius: 30px;

}


#btn{
    margin-top: 15px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 15px;
    
    background-color: #011222;
    color:#FFD966;
}


#btn:hover{
    cursor: pointer;
    background-color: #FFD966;
    color: #011222;
    border: 1px solid #011222;
}

#btn {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.response {
    padding-bottom: 30px;
    font-family: Oswald;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-weight: 500;
    margin-top: 5px;
}

.parting {
    margin-top: 15px;
    font-family: Oleo Script;
    font-weight: 400;
    font-size: 14px;
}

/* Tablets */
@media(max-width: 600px) and (min-width: 0px){

	.container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #011222;
        width:300px;
        height: 450px;
        padding: 25px;
    }

}