<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../media/favicon.png" type="image/x-icon">
    <title>peanuts</title>

    <meta name="description" content="Peanut-sized prayers, giant-sized results! Watch your grades sprout wings and fly.">
    
    <meta name="author" content="Bamilosin Daniel Eniola">
    <meta name="keywords" content="peanuts, prayers, school, Redeemer's University, Fasting, short prayers, school">
    <meta property="og:title" content="peanuts">
    <meta property="og:description" content="Peanut-sized prayers, giant-sized results! Watch your grades sprout wings and fly.">
    <meta property="og:url" content="https://peanuts.up.railway.app/shell">
    <meta property="og:image" content="https://i.pinimg.com/736x/0e/d1/50/0ed1506247a1fc005dedb408c2e9f1d1.jpg">
    <meta property="og:image:alt" content="peanuts background. Jesus loves you &lt;3" >

    <!-- twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://i.pinimg.com/736x/0e/d1/50/0ed1506247a1fc005dedb408c2e9f1d1.jpg">
    <meta name="twitter:title" content="peanuts">
    <meta property="twitter:description" content="Peanut-sized prayers, giant-sized results! Watch your grades sprout wings and fly.">

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="{{url_for('static', path='/styles.css')}}">
</head>
<body>

    <div class="container">
        <h1>peanuts!</h1>

        <span class="response"> <h3>{{prayer}} {{error_message}}</h3> </span>

        <form action="/shell" method="post">
            <label for="course"><h2>what's the course?</h2></label>
            <br>
            <input type="text" name="course" id="course">
            <br>
            <input type="submit" value="GO!" id="btn">
            <p class="parting">Inspired by GOD, made by man</p>
        </form>

    </div>

    <footer>
        <p>&copy; 2023 BAMS</p>
    </footer>

</body>
</html>