<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>peanuts</title>

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="{{url_for('static', path='/styles.css')}}">
</head>
<body>

    <div class="container">
        <h1>peanuts!</h1>

        <span class="response">{{prayer}}</span>

        <form action="/shell" methosdfdfsfd="post">
            <label for="course"><h2>what's the course?</h2></label>
            <br>
            <input type="text" name="course" id="course">
            <br>
            <input type="submit" value="GO!" id="btn">
        </form>
    </div>

</body>
</html>